.categories-container {
  p {
    font-weight: 900;
    font-size: 1.5rem;
  }
}

.categories-list {
  display: flex;
  gap: 50px;
  overflow-x: scroll;
}

.categories-box {

  img {
    width: 120px;
    height: 120px;
    max-width: 120px;
    max-height: 120px;
  }
}

@media (max-width:768px) {
  .categories-container {
    p {
      font-weight: 900;
      font-size: 1.3rem;
    }
  }
}