.container-header {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr 1fr 1fr 1fr 1fr;
  border-radius: 20px;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.06),
    0px 10px 36px 0px rgba(0, 0, 0, 0.16);

  align-items: center;
  margin-top: 2%;
}
.container-header .header-buttons svg {
  width: 36px;
  height: 36px;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Hover için yumuşak geçiş */
}
.searchbox {
  display: flex;
  align-items: center;
  border-radius: 30px;
  border: 2px solid var(--primary-color);
  padding: 1%;
  input {
    border-width: 0px;
    outline: none;
    padding-left: 2%;
    width: 100%;
  }
}

.searchbox input {
  border-width: 0px;
  outline: none; /* Tıklanınca etrafında yeşil outline çıkmasını engeller */
  padding-left: 2%;
  width: 100%;
}

.searchbox input:focus {
  border: none;
  outline: none; /* Outline tamamen kaldırılır */
}

.header-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pointer:hover {
  cursor: pointer;
}

.header-homepage {
  display: none;
}

.header-buttons.active {
  background-color: var(--primary-color); /* Aktif durumda arka plan rengi */
  border-radius: 20px; /* Yuvarlatılmış kenarlar */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Hafif gölge */
}

.header-buttons.active p {
  color: white; /* Aktif durumda yazı rengi */
  font-weight: bold;
}
.icon-svg {
  color: #333;
  transition: color 0.3s ease, transform 0.3s ease;
}

/* Aktif durumda ikon renkleri */
.header-buttons.active .icon-svg {
  color: white; /* Aktif durumda beyaz renk */
}

/* Hover durumunda ikonlar */
.header-buttons:hover .icon-svg {
  transform: scale(1.1); /* Hafif büyütme efekti */
}

@media (max-width: 768px) {
  .header-logo {
    display: none;
  }
  .header-buttons.active {
    background-color: white; /* Aktif durumda arka plan rengi */
    border-radius: none; /* Yuvarlatılmış kenarlar */
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.2); /* Hafif gölge */
  }

  .header-buttons.active p {
    color: var(--primary-color); /* Aktif durumda yazı rengi */
    font-weight: bold;
  }
  .header-buttons.pointer:hover p {
    color: var(--primary-color); /* Aktif durumda yazı rengi */
    font-weight: bold;
  }

  /* Aktif durumda ikon renkleri */
  .header-buttons.active .icon-svg {
    color: var(--primary-color); /* Aktif durumda beyaz renk */
  }

  /* Hover durumunda ikonlar */
  .header-buttons:hover .icon-svg {
    color: var(--primary-color); /* Aktif durumda beyaz renk */
    transform: scale(1.1); /* Hafif büyütme efekti */
  }

  .searchbox {
    top: 2%;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    width: 80%;
  }
  .container-header {
    width: 90%;
    background-color: white;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    position: fixed;
    bottom: 2%;
    padding: 1%;
    z-index: 1;
  }

  .header-buttons {
    flex-direction: column;

    p {
      margin: 0%;
      font-size: smaller;
    }
  }

  .header-homepage {
    display: flex;
    stroke: bisque;
  }

  .header-more {
    display: none;
  }
}
