.pupolars-container {
  p {
    font-weight: 900;
    font-size: 2rem;
  }
}
.populars-list {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  position: relative;
  width: 100%;
  justify-content: space-around;
}

.popular-box {
  position: relative;
  width: 15%;
  height: 50vh;
  box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.2);
  border-radius: 18px;
  display: grid;

  grid-template-rows: 10fr 2fr 1fr 6fr 1fr;
  padding: 3%;
  
}

.popular-image {
  width: 100%;
  height: 90%; /* Yüksekliği de tam dolması için ayarlayın */
  position: relative; /* Konumlandırmayı kontrol etmek için */
}

.popular-image img {
  width: 100%; /* Genişliği tamamen doldur */
  height: 100%; /* Yüksekliği tamamen doldur */
  object-fit: cover; /* Görselin orantılı şekilde sığması için */
  position: absolute; /* Üst üste yerleştirme için */
  top: 0; /* Üstten hizala */
  left: 0; /* Soldan hizala */

  border-radius: 12px; /* Eğer isterseniz, kenarları yuvarlak bırakabilirsiniz */
}

.popular-name {
  font-weight: 700;
  font-size: 1.2rem;
  text-wrap: nowrap;
}

.popular-rating {
  display: flex;
  width: 1.5rem;
  height: 1.5rem;
  gap: 5px;
}

.popular-expression {
  overflow: hidden;
  p {
    margin: 0%;
    margin-top: 3%;
    width: 100%; /* Ensure it takes the full width of the container */
    display: flex;
    flex-wrap: wrap; /* Allow wrapping to the next line */
    line-height: 20px;
    font-weight: 500;
    font-size: 16px;
    word-wrap: break-word; /* Ensure long words wrap to the next line */
  }
}

.popular-link {
  display: flex;
  justify-content: end;
  gap: 5px;
  p {
    margin: 0%;
    color: rgba(34, 255, 34, 1);
    font-weight: 400;
    font-size: 1.5rem;
    text-align: end;
    text-decoration: underline;
  }
}

.popular-link:hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  .popular-rating {
    display: flex;
    width: 1rem;
    height: 1rem;
    gap: 5px;
  }

  .popular-link {
    display: flex;
    justify-content: end;
    gap: 5px;
    p {
      margin: 0%;
      color: rgba(34, 255, 34, 1);
      font-weight: 400;
      font-size: 1rem;
      text-align: end;
      text-decoration: underline;
    }
  }

  .populars-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    position: relative;
    width: 100%;
    justify-content: space-around;
  }

  .popular-box {
    position: relative;
    width: 35%;
    height: 50vh;
    box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.2);
    border-radius: 18px;
    padding: 3%;
    display: grid;
    grid-template-rows: 10fr 2fr 1fr 6fr 1fr;
  }
}

@media (max-width: 400px) {
  .popular-name {
    font-weight: 700;
    font-size: 1rem;
    text-wrap: nowrap;
  }
}
